.page {
    width: 100%;
    height: 100vh;
    background: #242845;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* About */
.about {
    
}

h2 {
    text-align: center;
}

.about-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-content {
    width: 60%;
}

.image-container {
}

.image-container img {
    width: 400px;
    height: 500px;
    border: 1px solid black;
}

/* Practice Areas */

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    width: 350px;
    height: 450px;
    border: 1px solid gold;
    border-radius: 30px;
    margin: 20px;
}

/* Legal Issues */

.legal-issues {

}

.timeline {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.talk {
    background: grey;
    grid-column: 6 / span 5;
}

h3 {
    display: inline-block;
    text-align: center;
}

.breath {
    background: grey;
    grid-column: 2 / span 5;
}

.patience {
    background: gray;
    grid-column: 6 / span 5;
}
