footer {
    height: 400px;
    color: white;
    background: #242845;

    ul {
        list-style: none;
        font-size: 24px;
    }

    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        ul { 
            li {
                &:first-child {
                    color: rgb(248, 178, 79);
                    font-size: 36px;
                    padding-bottom: 25px;
                }

                span {
                    color: #ED6565;
                }
            }
        }
    }
}

.circle {
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 50%;
    display: inline-block;
}

.copyright {
    text-align: center;
}